<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/calc-ingredient.css" th:href="@{/css/calc-ingredient.css}">
</head>
<body>
    <div class="content">
        <div>

            <div class="content_title">材料</div>
            <hr>
            <div class="people_number">
                <input type="text" class="input_people"
                placeholder="何人分&nbsp;例）&nbsp;2人分">
                <div class="people">人分</div>
            </div>
            <div class="seasoning_and_quantity">
                <div class="seasoning">
                    <div class="title">材料・調味料名</div>
                    <div class="seasoning_contents">
                        <div class="input_seasoning">
                            <input type="text" placeholder="例）&nbsp;牛肉">
                        </div>
                        <div class="input_seasoning">
                            <input type="text" placeholder="例）&nbsp;牛肉">
                        </div>
                        <div class="input_seasoning">
                            <input type="text" placeholder="例）&nbsp;牛肉">
                        </div>
                        
                    </div>
                </div>
                <div class="quantity">
                    <div class="title">分量</div>
                    <div class="quantity_contents">
                        <div class="input_quantity">
                            <input type="text" placeholder="例）&nbsp;200g" class="input_quantity">
                        </div>
                        <div class="input_quantity">
                            <input type="text" placeholder="例）&nbsp;200g" class="input_quantity">
                        </div>
                        <div class="input_quantity">
                            <input type="text" placeholder="例）&nbsp;200g" class="input_quantity">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="button_wrapper">
                <button class="save_button">保存</button>
            </div>
        </div>
    </div>
</body>
</html>