<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaoru-receipe</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

</head>

<body>
    <span th:insert="~{fragments/header :: header}"></span>
    <div>
        <div class="form">
            <div class="form_content">
                <form method="post" th:action="@{/insertUserInfo}" th:object="${userResisterForm}">
                    <div class="resister_input">
                        <label for="name">お名前</label>
                        <input id="name" type="text" name="name" th:field="*{name}">
                    </div>
    
                    <div class="resister_input">
                        <label for="email">メールアドレス</label>
                        <input id="email" type="text" name="email" th:field="*{email}">
                    </div>
                    <div class="resister_input">
                        <label for="password">パスワード</label>
                        <input id="password" type="password" name="password" th:field="*{password}">
                    </div>
    
                    <button class="resister_button resister">登録</button>
                </form>
            </div>
        </div>
    </div>
    <span th:insert="~{fragments/footer :: footer}"></span>

</body>

</html>