<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:fragments="header">
        <div class="header_content">
            <div class="icon-wrapper">
                <a th:href="@{/top}" href="receipe/top.html">
                    <img src="../static/img/icon.png" th:src="@{/img/icon.png}" alt="アイコン" class="icon">
                </a>
            </div>
            <div th:if="${session.user != null}" th:text="'ようこそ！ ' +${session.user.name} + ' さん'"
                class="welcome_message">ようこそ◯◯さん</div>

            
            <div class="menu">
                <a th:if="${session.user == null}" th:href="@{/toLogin}" href="login/login.html">ログイン</a>
                <a th:if="${session.user != null}" th:href="@{/logout}" href="receipe/top.html">ログアウト</a>
                <!-- <a th:if="${session.user == null}" th:href="@{/usrResister}" href="usr/user-resister.html">ユーザー登録</a> -->
                <a th:if="${session.user != null}" th:href="@{/receipeResister}" href="receipe/resister.html">レシピ投稿</a>
                <!-- <a th:href="@{/top}" href="receipe/top.html">トップ</a> -->
            </div>

        </div>
        <div class="autocomplete">
            <hr>
            <form action="receipe/top.html" th:action="@{/top}" method="get">
                <div class="autocomplete_content">
                    <div class="autocomplete_input">
                        <input type="text" name="searchTitle" th:value="${searchTitle}" id="title">
                    </div>
                        <button type="submit" value="検索" class="autocomplete_button">検索</button>
                </div>
            </form>
        </div>
    </header>
</body>

</html>