<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaoru-recipe</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

</head>

<body>
    <span th:insert="~{fragments/header :: header}"></span>
    <div class="content">
        <div class="form complete_form">
            <div class="complete">
                <div class="completation">
                    <span>レシピの登録が完了しました！</span>
                </div>
                <form th:action="@{/top}">
                    <div class="top_page_button_wrapper">
                        <button class="login_button">トップページへ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <span th:insert="~{fragments/footer :: footer}"></span>

</body>

</html>