<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaoru-recipe</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/calc-ingredients.css" th:href="@{/css/calc-ingredients.css}">

</head>

<body>
    <span th:insert="~{fragments/header :: header}"></span>
    <div class="content">
        <div class="recipe">
            <div>
                <div class="resister_title">レシピを編集する</div>
                <form method="post" th:action="@{/edit}" th:object="${recipeEditForm}" enctype="multipart/form-data">
                    <input type="text" name="title" class="title_input" th:field="*{title}">
                    <div class="img_and_distriction">
                        <div class="resister_img_wrapper">
                            <div>
                                <div class="file_content">
                                    <input type="file" id="uploadImage" class="file_input" />
                                    <button type="button" onclick="changeImageToBase64()"
                                        class="resister_button">画像を保存</button>
                                </div>
                                <textarea id="base64text" rows="2" th:field="*{imagePath}"></textarea>
                                <div id="uploadImageArea"></div>
                            </div>
                        </div>


                        <div class="resister_content">
                            <textarea name="introduction" id="" cols="30" rows="10" placeholder="レシピの紹介文"
                                th:field="*{introduction}"></textarea>
                            <div class="content_title ingredient_title">材料</div>

                            <button id="open_Modal" class="resister_button">材料を登録する</button>
                        </div>
                    </div>

                    <hr>

                    <div class="recipe_detail">
                        <div class="content_title">作り方</div>
                        <textarea name="detail" th:field="*{detail}" class="textarea" id=""></textarea>
                    </div>

                    <hr>

                    <div class="recipe_detail">
                        <div class="content_title">コツ・ポイント</div>
                        <textarea name="point" class="textarea" id="" cols="30" rows="10"
                            placeholder="このレシピを作るときのコツやポイントがあれば入力してください。" th:field="*{point}"></textarea>
                    </div>
                    <div class="button_wrapper">
                        <button class="login_button">変更内容を登録</button>
                    </div>

                    <!-- 隠しフィールド -->
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" id="hiddenServing" name="serving" th:field="*{serving}">
                    <input type="hidden" id="hiddenIngredients" name="ingredients" th:field="*{ingredients}">

                </form>
                <!-- モーダルエリアここから -->
                <section id="modalArea" class="modalArea">
                    <div id="modalBg" class="modalBg"></div>
                    <div class="modalWrapper">
                        <div class="modalContents">
                            <div>
                                <div class="content_ingredients_title">材料</div>
                                <hr>
                                <div class="people_number">
                                    <input type="text" id="inputPeople" class="input_people"
                                        placeholder="何人分&nbsp;例）&nbsp;2人分">
                                    <div class="people">人分</div>
                                </div>
                                <div class="seasoning_and_quantity">
                                    <div class="modal_titles">
                                        <div class="modal_title seasoning_title">材料・調味料名</div>
                                        <div class="modal_title quantity_title">分量</div>
                                    </div>

                                    <div class="seasoning_content">
                                        <input type="text" placeholder="例）&nbsp;牛肉" class="ingredient">
                                        <input type="text" placeholder="例）&nbsp;200g" class="quantity">
                                    </div>

                                    <div class="seasoning_content">
                                        <input type="text" placeholder="例）&nbsp;じゃがいも" class="ingredient">
                                        <input type="text" placeholder="例）&nbsp;300g" class="quantity">
                                    </div>

                                    <div class="seasoning_content">
                                        <input type="text" placeholder="例）&nbsp;にんじん" class="ingredient">
                                        <input type="text" placeholder="例）&nbsp;150g" class="quantity">
                                    </div>

                                    <div class="modal_button_wrapper">
                                        <button type="button" id="saveModalData" class="resister_button">保存</button>
                                    </div>
                                </div>
                            </div>
                            <div id="closeModal" class="closeModal">
                                ×
                            </div>
                        </div>
                </section>
                <!-- モーダルエリアここまで -->

            </div>
        </div>
        <form th:action="@{/top}">
            <div class="top_page_button_wrapper">
                <button class="login_button">トップページへ戻る</button>
            </div>
        </form>

    </div>
    <span th:insert="~{fragments/footer :: footer}"></span>
    <!-- ↓jQuery読み込み -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>

</html>