<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:insert="~{fragments/header :: header}"></span>
    <div>マイページ</div>
    <div><img src="" alt="ユーザーの写真"></div>
    <div>ユーザー名</div>
    <div><a href="">ユーザー情報管理</a></div>

    <hr>

    <div>マイレシピ</div>
    <div>投稿したレシピの閲覧・編集ができます。</div>

    <div><img src="" alt="レシピ写真"></div>
    <div><a href="">レシピ名</a></div>

    <div><a href="">もっと見る</a></div>
</body>
</html>