body {
    background-color: black;
}
input {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    margin-top: 64px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.content_title {
    font-weight: bold;
    font-size: 32px
}
.people_number{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.input_people{
    width: 250px;
    height: 30px;
}
.people{
    font-size: 16px;
    margin-left: 10px;
}

.seasoning_and_quantity{
    display: flex;
    padding-left: 10px;

}

.title {
    background-color: rgb(171, 171, 171);
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
}

.seasoning {
    margin-right: 20px;
    width: 450px;
}


.seasoning_contents {
    display: block;
}
.input_seasoning{
    width: 442px;
    margin-bottom: 10px;
}

.quantity {
    width: 310px;
}
.input_quantity {
    width: 302px;
    margin-bottom: 10px;
}
.button_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.save_button {
    background-color: white;
    border: 0.3px solid gray;
    cursor: pointer;
    width: 240px;
    height: 32px;
}
